{% extends 'base.html.twig' %}

{% block title %}UniFolio - Home{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}

    <section class="container-custom d-flex justify-content-center align-items-center min-vh-100">
        <h1>HELLO</h1>
    </section>
{% endblock %}
