{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
<nav aria-label="breadcrumb" style="position:absolute; top: 80px; left: 75px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home_panel') }}" class="link">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_dashboard_etudiant') }}" class="link">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Trace</li>
    </ol>
</nav>
<section class="container min-vh-100 section-pt">
    {{ form(form) }}
</section>
{% endblock %}