{% extends 'base.html.twig' %}

{% block title %}UniFolio - Traces{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': '/etudiant/dashboard'},
        {'name': 'Bibliothèque de traces', 'url': null}
    ]) }}

    <section class="container-custom min-vh-100 traces">
        <article class="row">
            <twig:AllTraces/>
        </article>
    </section>

{#    <turbo-frame id="trace-zone" data-turbo="false">#}
{#    </turbo-frame>#}
{% endblock %}
