{% extends 'base.html.twig' %}

{% block title %}UniFolio - Portfolio Universitaire{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': '/etudiant/dashboard'},
        {'name': 'Bibliothèque de portfolios universitaires', 'url': '/etudiant/portfolioUniv'},
        {'name': 'Edition d\'un portfolio universitaire', 'url': null}
    ]) }}

    <section class="container-custom min-vh-100 section-pt">
        <div class="row d-flex">
            <article class="col-lg-8 col-12">
                <div class="card p-5">
                    <div class="card-header">
                        <h2>Edition d'un portfolio universitaire</h2>
                    </div>
                    <div class="card-body">
                        <turbo-frame id="portfolio-form">
                            {{ include('portfolio_univ/step/_'~step~'.html.twig') }}
                        </turbo-frame>
                    </div>
                </div>
            </article>
            <aside class="col-lg-4 col-12">
                <div class="card p-5 h-100">
                    <div class="card-header">
                        <h2>Guide du portfolio</h2>
                        <em>Le portfolio universitaire est un outil qui permet de présenter de manière organisée et
                            structurée les projets réalisés, les centres d’intérêt, les activités extra-universitaires,
                            dans une démarche de réflexion sur son parcours et de valorisation de ses compétences.</em>
                        <hr>
                    </div>
                    <div class="card-body">
                        <h4>Etapes</h4>
                        <ul class="progress-list">
                            <li>Initialisation du portfolio</li>
                            <li>Création d'une ou plusieurs pages</li>
                            <li>Création ou ajout de traces dans les pages</li>
                            <li>Création ou ajout d'un CV <small class="text-muted">- Facultatif</small></li>
                        </ul>

                        <h4>Auto-évaluation</h4>
                        <em>Dans le cadre de notre engagement envers l'autonomie et le développement des compétences, vous allez évaluer vos propres travaux selon des critères pré-établis.</em>

                        <ul class="card-list">
                            <li><strong>Prenez du recul :</strong> Quels étaient vos objectifs ? Dans quelle mesure pensez-vous les avoir atteints ?</li>

                            <li><strong>Evaluez vos productions :</strong> Identifiez vos forces, vos faiblesses et vos axes d'amélioration.</li>

                            <li><strong>Trouvez des solutions :</strong> Quelles actions pouvez-vous entreprendre pour renforcer vos compétences dans ces domaines ?</li>

                            <li><strong>Partagez votre ressenti :</strong> Vos évaluations offriront aux enseignants un regard nouveau sur votre travail.</li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </section>
{% endblock %}