{% extends 'base.html.twig' %}

{% block title %}UniFolio - Portfolios universitaires{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    <nav aria-label="breadcrumb" style="position:absolute; top: 80px; left: 75px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home_panel') }}" class="link">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard_etudiant') }}" class="link">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bibliothèque de portfolios universitaires</li>
        </ol>
    </nav>
    <section class="container-custom min-vh-100 section-pt">
        <article class="row content-article">
            <h2>Biblio portfolios</h2>
            <a href="{{ path('app_portfolio_univ_new') }}">Créer</a>
        </article>
    </section>
{% endblock %}
