{% extends 'base.html.twig' %}

{% block title %}UniFolio - Portfolios universitaires{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': '/etudiant/dashboard'},
        {'name': 'Bibliothèque de portfolios universitaires', 'url': null}
    ]) }}

    <section class="container-custom min-vh-100 section-pt">
        <article class="row content-article">
            <twig:AllPortfolios />
        </article>
    </section>
{% endblock %}
