<turbo-frame id="trace-form-content">
    <div>
        <label class="form-label required">Vidéo.s</label>
        {{ form_widget(formType.contenu) }}
    </div>
    <button type="button" class="btn btn-primary add-video">
        Ajouter une vidéo <i class="fa fa-square-plus"></i>
    </button>
</turbo-frame>