<turbo-frame >
    <div {{ stimulus_controller('typeCollection') }}>

{#        {% if trace.type == 'video' %}#}
            {{ form_widget(formType.contenu) }}
{#        {% else %}#}
{#            {{ form_widget(formType.contenu, { 'attr': {'class': 'visually-hidden'} }) }}#}
{#        {% endif %}#}
            <div data-typeCollection-target="input" class="trace-content-input">
            </div>
        <button type="button" class="btn btn-primary add-video" data-action="typeCollection#addVideo">
            Ajouter une vidéo <i class="fa fa-square-plus"></i>
        </button>
    </div>
</turbo-frame>