<turbo-frame id="trace-form-content">
    <div {{ stimulus_controller('typeCollection') }}>

        <div class="d-flex justify-content-center gap-5 mb-5">
            {{ form_widget(formType.contenu) }}
        </div>
        <div data-typeCollection-target="input" class="trace-content-input mb-5">
        </div>

        <button type="button" class="btn btn-primary add-lien" data-action="typeCollection#addLien">
            Ajouter un lien
        </button>
    </div>
</turbo-frame>