<div class="d-flex flex-row flex-wrap justify-content-center">
    {% for pdf in this.trace.contenu %}
        <div class="col-lg-5 col-12 m-3">
            <iframe src="{{ pdf }}" width="100%" height="500px"></iframe>
        </div>
    {% endfor %}
</div>
