{% extends 'base.html.twig' %}

{% block title %}UniFolio - Home{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}

    <section class="container d-flex justify-content-center align-items-center h-100">
        <div class="bg-banner-top"></div>
        <div class="row justify-content-center">
            <h1>Dashboard</h1>
            <div class="card flex-row col-6">
                DASHBOARD
            </div>
            <div class="row">
                <div class="card col-4">
                    DASHBOARD
                </div>
                <div class="card col-4">
                    DASHBOARD
                </div>
                <div class="card col-4">
                    DASHBOARD
                </div>
            </div>
        </div>
        <div class="bg-banner-bottom"></div>

    </section>
{% endblock %}
