{% macro breadcrumbs(items, pages) %}
    <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb">
            {% for item in items %}
                <li class="breadcrumb-item{% if loop.last %} active{% endif %}"{% if loop.last %} aria-current="page"{% endif %}>
                    {% if item.url and not loop.last %}
                        <a href="{{ item.url }}" class="link">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}