{% macro table(items) %}
    <table>
        <thead>
        <tr>
            {% for key, value in items[0] %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {% for key, value in item %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}