{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}

    <section class="container d-flex justify-content-center align-items-center h-100">
        <div class="bg-banner-top"></div>
        <div class="row justify-content-center">
            <h1>Dashboard</h1>
        </div>
        <div class="bg-banner-bottom"></div>

    </section>
{% endblock %}
