{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': null},
    ]) }}

    <section class="container-custom min-vh-100 section-pt">
        <article class="row">

            <twig:AllPortfoliosEval />

        </article>
    </section>
{% endblock %}
