{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': null},
    ]) }}

    <section class="container-custom min-vh-100 section-pt">
        <article>
            <div class="card">
                <div class="card-header">
                    <h2>Bilan de compétences</h2>
                    <em>Pour les portfolios de l'année en cours</em>
                </div>
                <div class="card-body d-flex flex-column gap-5">
                    <div>
                    <h3>Général</h3>
                    <twig:AllCompetences/>
                    </div>

                    <div>
                    <h3>Par étudiant</h3>
                        <twig:AllBilanEtudiant/>
                    </div>
                </div>
            </div>
        </article>

        <article class="row">

            <twig:AllPortfoliosEval/>

        </article>
    </section>
{% endblock %}
