.c1 {
  background-color: $c1Light;
  color: $c1;
  border: solid 2px $c1;

  svg {

    path {
      color: $c1;
    }
  }
}

.c2 {
  background-color: $c2Light;
  color: $c2;
  border: solid 2px $c2;

  svg {

    path {
      color: $c2;
    }
  }
}

.c3 {
  background-color: $c3Light;
  color: $c3;
  border: solid 2px $c3;

  svg {

    path {
      color: $c3;
    }
  }
}

.c4 {
  background-color: $c4Light;
  color: $c4;
  border: solid 2px $c4;

  svg {

    path {
      color: $c4;
    }
  }
}

.c5 {
  background-color: $c5Light;
  color: $c5;
  border: solid 2px $c5;

  svg {

    path {
      color: $c5;
    }
  }
}

.c6 {
  background-color: $c6Light;
  color: $c6;
  border: solid 2px $c6;

  svg {

    path {
      color: $c6;
    }
  }
}

.apc-card {
  max-height: 140vh;
  overflow-y: auto;
}

.apc-bloc {

  .apc-element {
    padding: 15px;
  }
}

.competence-bloc {
  max-height: 300px;
  overflow-y: auto;
}

.competence-choice {
  display: flex;
  margin: 10px 0;

  input {
    margin-right: 10px;
  }
}