.home-panel {

  .card {
    padding: $large-padding;
    text-decoration: none;

    img {
      width: 10rem;
    }

    h2 {
      text-transform: uppercase;
      font-size: $h4-size;
      font-weight: $bold;
    }

    .dashboard-illu {
      position: absolute;
      bottom: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .panel_link {
    transition: ease-in-out transform 0.3s;

    &:hover {
      transform: scale(1.02);
      transition: ease-in-out transform 0.3s;
    }
  }
}

.dashboard {

  table {
    width: 100%;

    thead {
      text-align: left;
      font-weight: $bold;
      border-radius: $small-radius;
      background-color: var(--bg-color);

      tr {

        th {
          padding: $large-padding;
        }
      }
    }

    tbody {
      tr {

        td {
          padding: $large-padding;
        }
      }
    }
  }
}