* {
  //font-size: small;
}

#body {
  //background-image: url("../images/gradient.png");
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-attachment: fixed;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    z-index: -1;
    background-color: rebeccapurple;
  }

  .bg-primary {
    background-color: $primary-color !important;
  }

  .bg-secondary {
    background-color: $secondary-color !important;
    color: $text-dark-color;
  }

  .content-article {
    margin-bottom: 50px;
  }

  header {
    position: fixed;
    z-index: 10;
    width: 100%;


    .navbar {
      background-color: $white;
      padding: 1rem 50px !important;

      .menu-brand {
        margin-right: 50px;

        a {
          color: $primary-color-dark;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      .navbar-brand {
        width: 30px;
        margin-right: 5px;
      }
    }
  }

  footer {

    .navbar {
      background-color: $black;
      color: $text-light-color;

      .nav-item, a {
        color: $text-light-color;
        text-decoration: underline;
      }
    }
  }

  .link {
    //color: $primary-color-dark;
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      color: $quartenary-color;
      text-decoration: none;
    }
  }

  .breadcrumb-item.active, .breadcrumb-item + .breadcrumb-item::before {
    color: $text-light-color;
  }

  .container-custom {
    max-width: 90%;
    margin: 0 auto;
  }

  .section-pt {
    padding-top: 150px;
    padding-bottom: 75px;
  }

  .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 25px;

    .corner-img {
      position: absolute;
      top: -60px;
      left: -60px;

      img {
        width: 35%;
      }
    }

    .card-header {
      background-color: transparent;
      border-bottom: none;
    }

    .card-title {
      font-size: 1.25rem;

    }

    .corner-img-card {
      position: absolute;
      top: -20px;
      left: -20px;

      img {
        width: 20%;
      }
    }
  }

  .btn-primary-color {
    background-color: $primary-color;
    color: $white;
    border: none;
    padding: 5px 15px;

    &:hover {
      background-color: darken($primary-color, 3%);
    }
  }

  .btn-secondary-color {
    background-color: $secondary-color;
    color: $text-dark-color;
    border: none;
    padding: 5px 15px;

    &:hover {
      background-color: darken($secondary-color, 3%);
    }
  }
}


.flatpickr-monthSelect-months {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flatpickr-rContainer {
  width: 100%;
}

.flatpickr-monthSelect-month {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
  }

}

#body {

  .my_card {
    border: solid 1px #e0e0e0;
    border-radius: 15px;

    .card-header {
      //background-color: lighten($primary-color, 20%);
      background-color: #f5f5f5;
      border-radius: 15px 15px 0 0;
      padding: 10px 25px;

      .card-title {
        font-size: 1rem;
        margin: 0;
      }
    }

    .card-body {
      padding: 0;

      .card-infos-min {
        padding: 10px 25px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
      }

      .card-competences {
        padding: 10px 25px;

        .accordion-button::after {
          margin: auto;
        }
      }
    }
  }

  .help-text {
    font-size: 12px;
    opacity: .6;
  }


  .form-title {
    font-size: 1.5rem;
    color: $primary-color;

    .form-header {
      margin-bottom: 25px;
    }

    .form-footer {
      margin: 15px 0;
    }

    .form-title {
      font-size: 1.5rem;
      color: $primary-color-dark;
      font-weight: bold;
    }
  }

  .form-input-group {
    margin: 10px 0;
  }

  .panel_link {
    text-decoration: none;
    color: $black;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .logo_panel {
    width: 100px;
    margin-bottom: 40px;
  }

  .panel {

    .panel-btn-dashboard {
      margin-bottom: 100px;
    }

    .illu_dashboard {
      position: absolute;
      bottom: -20px;
      width: 150px;
    }

    .illu_panel {
      width: 100px;
    }

    .panel-title {
      font-size: 1rem;
      text-align: center;
    }

    .panel_content {
      margin: 20px 0 20px 20px;
    }
  }

  .types {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 20px 0;

    a {
      flex-grow: 1; // Ajoutez cette ligne
      text-decoration: none;
      color: $black;
      background-color: rgba(239, 239, 239, 0.5);
      border: solid 2px #e0e0e0;
      border-radius: 5px;
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      &:hover {
        border: solid 2px $primary-color;
        background-color: lighten($primary-color, 24%);

        i {
          color: $primary-color;
        }
      }

      i {
        background-color: $white;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .active {
      border: solid 2px $primary-color;
      background-color: lighten($primary-color, 24%);

      i {
        color: $primary-color;
      }
    }
  }

  .ue {
    font-weight: bold;
  }


  .filtres-input {

    .accordion {
      padding: 15px 25px;

      .accordion-button:not(.collapsed) {
        background-color: lighten($secondary-color, 10%);
      }

      .accordion-button:focus {
        box-shadow: none;
      }

      .accordion-item {
        border: solid 1px #e0e0e0
      }
    }

    .fiole {
      position: absolute;
      width: 45px;
      left: 5.25vw;
      z-index: 5;
    }
  }

  .accordion-button:not(.collapsed) {
    background-color: transparent;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-item {
    border: solid 1px #e0e0e0
  }

  .badge {
    font-size: .9rem;
    margin: 15px 15px 25px 0;
  }

  .active-filter {
    font-weight: bold;
  }
}