* {
  font-family: $primary-font;
  color: var(--text-color);
}

body {
  background-color: var(--bg-color) !important;
  margin: 0 4rem;

  header {
    z-index: 10;
    padding: 0 4rem;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .navbar {

      .menu-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        margin-right: 3rem;

        .brand {

          img {
            width: 100%;
          }
        }
      }

      .navbar-nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        .nav-item {

          .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--text-light-color) !important;
            transition: 0.3s;

            &:hover {
              color: var(--secondary-color) !important;

              div {
                color: var(--secondary-color) !important;
              }

              svg {

                path {
                  color: var(--secondary-color);
                }
              }
            }

            svg {

              path {
                color: var(--text-light-color);
              }
            }

            div {
              color: var(--text-light-color);
            }
          }
        }
      }
    }
  }

  .breadcrumb-container {
    position: absolute;
    top: 7rem;
    left: 5rem;

    li {
      color: var(--text-color) !important;

      &:before {
        color: var(--text-color) !important;
      }
    }
  }

  .dropdown-menu {
    background-color: var(--bg-card-color);

    .dropdown-item {
      color: var(--text-color) !important;

      &:hover {
        background-color: var(--primary-light-color);
        color: var(--text-dark-color) !important;
      }
    }
  }


  section {
    padding: 10rem;
  }

  .card {
    background-color: var(--bg-card-color);
    color: var(--text-color);
    border: none;
    border-radius: $medium-radius;
    padding: $large-padding;
    margin: $medium-margin auto;

    .card-header {
      background-color: transparent;
    }

    .card-footer {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  footer {
    // placer le footer en bas de la page sans fixer sa position
    position: relative;
    bottom: 0;
    width: 100%;
    //background-color: var(--primary-color);
  }
}

.critere_valeurs_div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.primary-btn {
  background-color: var(--primary-light-color);
  color: var(--text-dark-color);
  font-weight: $bold;
  padding: $medium-padding $extra-large-padding;
  border-radius: $large-radius;
  border: solid 1px var(--primary-color);
  transition: 0.3s;

  path {
    transition: 0.3s;
    color: var(--text-dark-color);
  }

  &:hover {
    transition: 0.3s;
    background-color: darken(#EDECF7FF, 10%);
  }
}

.nav-btn {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  font-weight: $bold;
  padding: $small-padding;
  border-radius: $small-radius;
  transition: 0.3s;

  path {
    transition: 0.3s;
    color: var(--text-light-color);
  }

  &:hover {
    transition: 0.3s;
    background-color: darken(#69387DFF, 10%);
  }

}

.help-text {
  font-weight: $light;
  margin: $small-margin 0;
  opacity: .8;
}

h1 {
  font-size: $h1-size;
  font-weight: $extra-bold;
}

h2 {
  font-size: $h2-size !important;
  font-weight: $extra-bold !important;
  text-transform: uppercase;
}

a {
  color: var(--link-color) !important;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: var(--link-hover-color) !important;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: $medium-margin 0;
  gap: 1rem;
}