

.portfolio-banner {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: $medium-radius;
    border-top-right-radius: $medium-radius;
}