

.types {

  a {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border: solid 1px var(--bg-color);
    background-color: var(--bg-light-color);
    text-decoration: none;
    border-radius: $small-radius;
    transition: 0.3s;

    &:hover {
      background-color: var(--bg-dark-color);
      cursor: pointer;
      transition: 0.3s;
    }

    &.active {
      background-color: var(--bg-dark-color);
      pointer-events: none;
    }

    hr {
        width: 100%;
    }
  }
}

.trace-content-input {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .image_trace_div, .pdf_trace_div {
    display: flex;
    flex-direction: column;

    .dropzone-preview {
      width: max-content;
    }
  }

  .image_trace_div {

    .dropzone-preview-filename {
      display: none;
    }
  }

  .new_lien, .new_video {
    display: flex;
    flex-direction: column;
  }

#trace_lien_contenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.existing_lien {
  display: flex;
  flex-direction: column;
}

#trace_video_contenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.existing_video {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 20px 0;
}