@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// COLORS
:root {
  --primary-color: #69387D;
  --primary-medium-color: #9a66b2;
  --primary-light-color: #EDECF7;
  --secondary-color: #FFEDC0;

  --white: #FFFF;
  --black: rgb(35, 35, 35);

  --text-color: #54477B;
  --text-light-color: #ffffff;
  --text-dark-color: #54477B;
  --link-color: var(--primary-medium-color);
  --input-color: #ffffff;

  --bg-color: #E6E4EB;
  --bg-card-color: #F7F7F7;
  --bg-light-color: #EDECF7;
  --bg-dark-color: #cbc4e7;
}

body.dark-theme {
  --bg-color: #202020;
  --bg-card-color: #282739;
  --bg-light-color: #2B2A44;
  --bg-dark-color: #282828;
  --text-color: #efefef;
  --link-color: #d6d5ff;
  --input-color: #2B2A44;
}

$c1: #EF6975;
$c2: rgb(208, 119, 64);
$c3: #BCA860;
$c4: #61BC60;
$c5: #6074BC;
$c6: #7F1F53FF;

$c1Light: #FCEAEA;
$c2Light: #fee4c9;
$c3Light: #FEF2C9;
$c4Light: #E1FAE9;
$c5Light: #E1F1FA;
$c6Light: rgb(250, 221, 237);

$c1Medium: rgba(156, 43, 38, 0.6);
$c2Medium: rgba(208, 119, 64, 0.6);
$c3Medium: rgba(229, 185, 77, 0.6);
$c4Medium: rgba(65, 108, 63, 0.6);
$c5Medium: rgba(43, 76, 118, 0.6);
$c6Medium: rgba(127, 31, 83, 0.6);

// TEXT FONT

$primary-font: 'Lato', sans-serif;

// TEXT SIZES

$small-text: 0.8rem;
$medium-text: 1.15rem;
$large-text: 2rem;
$extra-large-text: 3.5rem;

$h1-size: 2.5rem;
$h2-size: 1.5rem;
$h3-size: 1.5rem;
$h4-size: 1.2rem;
$h5-size: 1rem;
$h6-size: 0.8rem;

// FONT WEIGHTS

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

// MARGINS

$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 20px;
$extra-large-margin: 40px;

// PADDINGS

$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 20px;
$extra-large-padding: 40px;

// BORDER RADIUS

$small-radius: 5px;
$medium-radius: 10px;
$large-radius: 20px;
$extra-large-radius: 40px;

// SHADOWS

$small-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
$medium-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
$large-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
$extra-large-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
