
$primary-color: #B68AEE;
$secondary-color: #FFE483;
$tertiary-color: #ECC3FF;
$quartenary-color: #ffc608;

$primary-color-dark: #7D4ABE;

$white: #FFFF;
$black: rgb(35, 35, 35);

$text-light-color: #f6f6f6;
$text-dark-color: #3a3a3a;

$bg-color: #FFFCF3;

