<nav class="navbar navbar-expand-lg p-3">
    <div class="menu-brand">
        <a class="brand" href="/">
            <img src="{{ asset('images/logo.png') }}" class="navbar-brand" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">
                    <twig:ux:icon name="fa6-solid:house" width="15" height="15"/>
                    Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <twig:ux:icon name="bi:collection-fill" width="15" height="15"/>
                    Galerie des étudiants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <twig:ux:icon name="bi:patch-question-fill" width="15" height="15"/>
                    Documentation</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" data-bs-theme="dark">
                <button class="nav-link">
                    <span class="icon" id="theme-icon"> </span>
                </button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex flex-row" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Accessibilité
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Taille de la police</li>
                    <li><a class="dropdown-item" href="#">Réduire</a></li>
                    <li><a class="dropdown-item" href="#">Réinitialiser</a></li>
                    <li><a class="dropdown-item" href="#">Augmenter</a></li>
                    <li class="dropdown-header">Mode d'affichage</li>
                    <li><a class="dropdown-item" href="#">Dyslexie</a></li>
                    <li class="dropdown-item contrast-view">Vue contrastée</li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            </li>
        </ul>
    </div>
</nav>