<nav class="navbar navbar-expand-lg p-3">
    <div class="container-fluid">
        <div class="menu-brand">
            <a class="brand" href="#">
                <img src="{{ asset('images/unifolio_logo.png') }}" class="navbar-brand" alt="logo">
                UNIFOLIO
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Bibliothèque
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Traces</a></li>
                        <li><a class="dropdown-item" href="#">Portfolios universitaires</a></li>
                        <li><a class="dropdown-item" href="#">Portfolios personnels</a></li>
                        <li><a class="dropdown-item" href="#">CV</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bilan pédagogique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Référentiel de compétences</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>